/* {
	border: 0px solid red !important;
}*/

* {
	-webkit-box-sizing: boder-box;
	-moz-box-sizing: boder-box;
	-ms-box-sizing: boder-box;
	box-sizing: boder-box;
}

* {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
}

.grid {
	margin: 0 auto;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.name {
	text-align: right;
	font-weight: lighter;
	padding-right: 20px;
}

.principal-image {
	text-align: center;
	margin: 20px;
}

.title-project-images {
	border-top: solid 1px #FFB463;
}

.projects-image {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.rodape {
	background-color: #FFB463;
	border-top: solid 1px #E5943D;
}

.header {
	background-color: #468EA9;
}

.logo {
	vertical-align: middle;
	padding: 5px;
}

.link-rodape {
	margin-bottom: 20px;
}